<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title></title>
	<header th:replace="header::html"></header>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space15">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="generation-table" lay-filter="generation-table"></table>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="generation-toolbar">
	<button class="layui-btn layui-btn-sm layui-btn" data-type="import" id="importData" onclick="javascript:return false;">
		<i class="layui-icon layui-icon-upload"></i>
		突变数据上传
	</button>
	<button type="button" class="layui-btn layui-btn-sm download-btn">
		<i class="layui-icon layui-icon-layim-download"></i>
		突变数据下载
	</button>
	<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchRemove">
		<i class="layui-icon layui-icon-delete"></i>
		删除
	</button>
</script>

<script type="text/html" id="generation-bar">
	<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
	<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>
<script>
	layui.use(['table', 'form', 'jquery', 'dtree', 'upload'], function () {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let upload = layui.upload

		let cols = [
			[
				{type:'checkbox'},
				{title: '主键', field: 'id', align:'center', width:100},
				{title: '姓名', field: 'name', align:'center'},
				{title: '基因序列', field: 'generation', align:'center'}
			]
		]

		var tableIns =table.render({
			elem: '#generation-table',
			url: '/api/generation',
			page: true ,
			cols: cols ,
			skin: 'line',
			toolbar: '#generation-toolbar',
			defaultToolbar: [{
				layEvent: 'refresh',
				title: '刷新',
				icon: 'layui-icon-refresh',
			}, 'filter'],
			done: function (value, date, endDate) {
				//重新绑定，upload方法
				bindTableToolbarFunction()
			}

		});

		upload.render({
			elem: "#importData",//导入id
			url: "/api/generation/importData",
			accept: "file",
			exts: 'xls|xlsx|xlsm|xlt|xltx|xltm',
			before: function(obj) {
				layer.msg('文件上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function (res) {
				layer.close(layer.msg());//关闭上传提示窗口
				table.reload('generation-table');
			}
		});

		table.on('tool(generation-table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				window.edit(obj);
			}
		});

		table.on('toolbar(generation-table)', function (obj) {
			if (obj.event === 'add') {
				window.add();
			} else if (obj.event === 'refresh') {
				window.refresh();
			} else if (obj.event === 'batchRemove') {
				window.batchRemove(obj);
			} else if (obj.event === 'download') {
				window.download(obj);
			}
		});
		form.on('submit(generation-query)', function(data){
			var formData = data.field;
			var name = formData.name;
			tableIns.reload({
				page: {
					curr: 1 //重新从第 1 页开始
				}
				, where: {//这里传参  向后台
					name: name
					//可传多个参数到后台...  ，分隔
				}
				, url: '/api/generation'//后台做模糊搜索接口路径
				, method: 'get'
			});
			return false;
		});

		window.batchRemove = function (obj) {
			layer.confirm('确定要删除这些突变数据', {
				icon: 3,
				title: '提示'
			}, function (index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url:  "/api/generation/batchRemove",
					dataType: 'json',
					type: 'delete',
					success: function (result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon: 1,
								time: 1000
							}, function () {
								table.reload('generation-table');
							});
						} else {
							layer.msg(result.msg, {
								icon: 2,
								time: 1000
							});
						}
					}
				})
			});
		}

		$('.download-btn').click(function() {
			window.location.href = '/api/generation/download'
		});

		window.refresh = function (param) {
			table.reload('generation-table');
		}

		//table.reload()之后，toolbar按钮失效，	toolbar事件重新绑定
		function bindTableToolbarFunction(){
			let upload = layui.upload

			table.on('toolbar(generation-table)', function (obj) {
				if (obj.event === 'add') {
					window.add();
				} else if (obj.event === 'refresh') {
					window.refresh();
				} else if (obj.event === 'batchRemove') {
					window.batchRemove(obj);
				} else if (obj.event === 'download') {
					window.download(obj);
				}
			});

			$('.download-btn').click(function() {
				window.location.href = '/api/generation/download'
			});

			upload.render({
				elem: "#importData",//导入id
				url: "/api/generation/importData",
				accept: "file",
				exts: 'xls|xlsx|xlsm|xlt|xltx|xltm',
				before: function(obj) {
					layer.msg('文件上传中...', {
						icon: 16,
						shade: 0.01,
						time: 0
					})
				},
				done: function (res) {
					layer.close(layer.msg());//关闭上传提示窗口
					table.reload('generation-table');
				}
			});
		}
	})
</script>
</body>
</html>