<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title></title>
	<header th:replace="header::html"></header>
</head>
<body class="pear-container">
<div class="layui-card">
	<div class="layui-card-body">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">时间范围：</label>
					<div class="layui-input-inline">
						<input type="text" name="createDate" id="createDate" autocomplete="off" value="" placeholder="请选择时间范围" style="width: 180px;" class="layui-input">
					</div>
				</div>
				<button id="generation-query" class="pear-btn pear-btn-md pear-btn-primary" lay-submit="" lay-filter="generation-query">
					<i class="layui-icon layui-icon-search"></i>
					查询
				</button>

				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i>
					重置
				</button>

				<label style="color: red; text-align: right">仅留存三天内的数据</label>
			</div>
		</form>
	</div>
</div>
<div class="layui-row layui-col-space15">
	<div class="layui-col-md12">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="generation-table" lay-filter="generation-table"></table>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="generation-toolbar">
	<button class="layui-btn layui-btn-sm layui-btn" data-type="import" id="importData" lay-event="upload" onclick="javascript:return false;">
		<i class="layui-icon layui-icon-upload"></i>
		突变数据上传
	</button>
	<button type="button" class="layui-btn layui-btn-sm download-btn" lay-event="download">
		<i class="layui-icon layui-icon-layim-download"></i>
		突变数据下载
	</button>
	<button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchRemove">
		<i class="layui-icon layui-icon-delete"></i>
		删除历史数据
	</button>
</script>
<script>
	layui.use(['table', 'form', 'jquery', 'dtree', 'laydate', 'upload'], function () {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let laydate = layui.laydate;
		let upload = layui.upload;

		let cols = [
			[
				{type:'checkbox'},
				{title: '主键', field: 'id', align:'center', width:100},
				{title: '姓名', field: 'name', align:'center'},
				{title: '基因序列', field: 'generation', align:'center'},
				{title: '创建时间', field: 'createDate', align:'center', templet: "<div>{{layui.util.toDateString(d.createDate, 'yyyy-MM-dd')}}</div>"}
			]
		]

		let tableIns =table.render({
			elem: '#generation-table',
			url: '/api/generation',
			page: true ,
			cols: cols ,
			skin: 'line',
			toolbar: '#generation-toolbar',
			defaultToolbar: [{
				layEvent: 'refresh',
				title: '刷新',
				icon: 'layui-icon-refresh',
			}, 'filter'],
			done: function (value, date, endDate) {
				// $("[data-field='id']").css('display', 'none');
				//重新绑定，upload方法
				bindTableToolbarFunction();
			}

		});

		table.on('tool(generation-table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				window.edit(obj);
			}
		});

		table.on('toolbar(generation-table)', function (obj) {
			if (obj.event === 'refresh') {
				window.refresh();
			} else if (obj.event === 'batchRemove') {
				window.batchRemove(obj);
			}
		});
		form.on('submit(generation-query)', function(data){
			let formData = data.field;
			let createDate = formData.createDate;
			tableIns.reload({
				page: {
					curr: 1 //重新从第 1 页开始
				},
				where: {//这里传参  向后台
					createDate: createDate
					//可传多个参数到后台...  ，分隔
				},
				url: '/api/generation', //后台做模糊搜索接口路径
				method: 'get',
				done: function () {
					//重新绑定，upload方法
					bindTableToolbarFunction();
				}
			});
			return false;
		});

		window.batchRemove = function (obj) {
			layer.confirm('确定要删除这些突变数据', {
				icon: 3,
				title: '提示'
			}, function (index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url:  "/api/generation/batchRemove",
					dataType: 'json',
					type: 'delete',
					success: function (result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon: 1,
								time: 1000
							}, function () {
								table.reload('generation-table');
							});
						} else {
							layer.msg(result.msg, {
								icon: 2,
								time: 1000
							});
						}
					}
				})
			});
		}

		$('.download-btn').click(function() {
			let createDate = $('#createDate').val();
			window.location.href = '/api/generation/download?createDate=' + createDate;
		});

		window.refresh = function (param) {
			table.reload('generation-table');
		}

		//table.reload()之后，toolbar按钮失效，toolbar事件重新绑定
		function bindTableToolbarFunction(){
			upload.render({
				elem: "#importData",//导入id
				url: "/api/generation/importData",
				accept: "file",
				exts: 'xls|xlsx|xlsm|xlt|xltx|xltm',
				before: function(obj) {
					layer.msg('文件上传中...', {
						icon: 16,
						shade: 0.01,
						time: 0
					})
				},
				done: function (res) {
					layer.close(layer.msg());//关闭上传提示窗口
					table.reload('generation-table');
				}
			});
			$('.download-btn').click(function() {
				let createDate = $('#createDate').val();
				window.location.href = '/api/generation/download?createDate=' + createDate;
			});
		}

		laydate.render({
			elem: '#createDate',
			type: 'date',
			range: '~',
			calendar: true,
			btns: ['clear', 'confirm', 'now']
		});

	})
</script>
</body>
</html>